@import "tailwindcss";
/*  */
body {
  /* overflow: auto; */
  margin: 0;
  /* max-height: 100vh; */
  /* no more than the height of the viewport */
}
html {
  overflow: hidden;
  /* This one is important to avoid the propagation */
}
a:hover {
  cursor: pointer; /* changes cursor to a hand */
}
.recharts-wrapper *:focus {
  outline: none;
}
/* ==COLORS== */
@layer base {
  * {
    @apply transition-colors duration-300 ease-in-out;
  }
}
:root {
  --color-primary-50: #9cabfc;
  --color-primary-100: #397aff;
  --color-primary-600: #0054ff;

  --color-gray-50: #efefef;
  --color-gray-100: #e4e4e4;
  --color-gray-300: #b5b5b5;
  --color-gray-500: #989898;
  --color-gray-700: #646464;
  --color-gray-900: #393939;
  --color-gray-960: #000000;

  --color-green-100: #e8fadc;
  --color-green-500: #23d881;
  --color-green-600: #1c6c69;

  --color-red-100: #ffe1df;
  --color-red-500: #ff5247;
  --color-red-600: #c8180d;

  --color-yellow-100: #fff6e4;
  --color-yellow-500: #fdb528;
  --color-yellow-600: #db6a04;

  --color-blue-100: #d6e9ff;
  --color-blue-500: #2196f3;
  --color-blue-600: #1565c0;
}
.light {
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-text-primary-inverse: #f8fafc;
  --color-text-secondary-inverse: #94a3b8;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8f8f8;

  --color-border: #e2e8f0;
}
.dark {
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
  --color-text-primary-inverse: #0f172a;
  --color-text-secondary-inverse: #64748b;

  --color-bg-primary: #0f172a;
  --color-bg-secondary: #1e293b;

  --color-border: #334155;
}

@theme {
  /* Primary */
  --color-primary-hover: var(--color-primary-50);
  --color-primary-accent: var(--color-primary-100);
  --color-primary-dark: var(--color-primary-600);

  /* Gray */
  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-300: var(--color-gray-300);
  --color-gray-500: var(--color-gray-500);
  --color-gray-700: var(--color-gray-700);
  --color-gray-900: var(--color-gray-900);
  --color-gray-960: var(--color-gray-960);

  /* Green */
  --color-green-100: var(--color-green-100);
  --color-green-500: var(--color-green-500);
  --color-green-600: var(--color-green-600);

  /* Red */
  --color-red-100: var(--color-red-100);
  --color-red-500: var(--color-red-500);
  --color-red-600: var(--color-red-600);

  /* Yellow */
  --color-yellow-100: var(--color-yellow-100);
  --color-yellow-500: var(--color-yellow-500);
  --color-yellow-600: var(--color-yellow-600);

  /* Blue */
  --color-blue-100: var(--color-blue-100);
  --color-blue-500: var(--color-blue-500);
  --color-blue-600: var(--color-blue-600);

  /* Theme Colors */
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-primary-inverse: var(--color-text-primary-inverse);
  --color-text-secondary-inverse: var(--color-text-secondary-inverse);

  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);

  --color-border-theme: var(--color-border);
}
/* ==FONTS== */
/* Cairo */
@font-face {
  font-family: Cairo;
  src: url("/fonts/Cairo-VariableFont_slnt\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
/* Geist */
@font-face {
  font-family: Geist;
  src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
/* Tajawal */
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/tajawal/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/tajawal/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/tajawal/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/tajawal/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/tajawal/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/tajawal/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/tajawal/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*  */
/* Firefox */
.thin-scrollbar {
  scrollbar-width: thin;
}

/* Chrome, Edge, Safari */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}
/* Loader */
.loader {
  --color-1: #000;
  --color-2: var(--color-primary-100);
  --size: 1px;

  position: relative;
  height: calc(40 * var(--size));
  width: calc(6 * var(--size));
  color: var(--color-1);
  animation: paddles 0.75s ease-out infinite;
}
.loader:before {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(15 * var(--size));
  width: calc(12 * var(--size));
  height: calc(12 * var(--size));
  background-color: var(--color-2);
  border-radius: 50%;
  animation: ballbounce 0.6s ease-out infinite;
}

@keyframes paddles {
  0% {
    box-shadow:
      calc(-25 * var(--size)) calc(-10 * var(--size)),
      calc(25 * var(--size)) calc(10 * var(--size));
  }
  50% {
    box-shadow:
      calc(-25 * var(--size)) calc(8 * var(--size)),
      calc(25 * var(--size)) calc(-10 * var(--size));
  }
  100% {
    box-shadow:
      calc(-25 * var(--size)) calc(-10 * var(--size)),
      calc(25 * var(--size)) calc(10 * var(--size));
  }
}
@keyframes ballbounce {
  0% {
    transform: translateX(calc(-20 * var(--size))) scale(1, 1.2);
  }
  25% {
    transform: scale(1.2, 1);
  }
  50% {
    transform: translateX(calc(15 * var(--size))) scale(1, 1.2);
  }
  75% {
    transform: scale(1.2, 1);
  }
  100% {
    transform: translateX(calc(-20 * var(--size)));
  }
}
